#sidenav-close-icon {
    margin: 0px;
    color: #FFF;
}

.outer-div {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.inner-div {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
    background-color: #E93996;
    transition: background-color .3s;
}

.inner-div:hover {
    /*background-color: rgb(0,0,0,0.1);*/
    background-color: #fd4dab;
}

body {
    background-color: /*#FFD540*/#fffc68;
}

nav {
    background-color: #652D92;
}

.sidenav {
    background-color: #652D92;
}

.sidenav li > a {
    color: #FFF;
}

.page-footer {
    background-color: #03B1CC;
}
/* blue	#03B1CC */

.home-image {
    height: 75vh;

    background: url('../img/sprinkles.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    background: rgb(255, 255, 255);
    background: rgba(101, 45, 146,0.8);
    margin: 1rem;
}

.card-content {
    color: #FFF;
    font-weight: bold;
}