#sidenav-close-icon {
    margin: 0px;
    color: #FFF;
}

.outer-div {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.inner-div {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
    background-color: #E93996;
    transition: background-color .3s;
}

.inner-div:hover {
    /*background-color: rgb(0,0,0,0.1);*/
    background-color: #fd4dab;
}

body {
    background-color: /*#FFD540*/#fffc68;
}

nav {
    background-color: #652D92;
}

.sidenav {
    background-color: #652D92;
}

.sidenav li > a {
    color: #FFF;
}

.page-footer {
    background-color: #03B1CC;
}

.home-image {
    height: 75vh;

    background: url('../img/sprinkles.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-panel {
    background: rgb(101, 45, 146);
    background: rgba(101, 45, 146, 0.9);
    margin: 0px;
    padding: 1rem;
}

.btn-container {
    text-align: center;
}

.home-btn {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    background-color: /*#03B1CC*/#E93996;;
}

.home-btn:hover {
    background-color: /*#17c5e0*/#fd4dab;
}

.card-panel .row {
    margin-bottom: 0px;
}

.card-panel p {
    color: #FFF;
    text-align: justify;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.brand-logo {
    height: 56px;
}

.brand-image {
    height: 56px;
    float: left;
}

@media only screen and (min-width: 601px) {
    .brand-image {
        height: 64px;
    }
    .brand-logo {
        height: 64px;
    }
    .home-btn {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .card-panel p {
        margin-block-start: 1em;
        margin-block-end: 1em;
        text-align: center;
    }
}
