body {
    background-color: /*#FFD540*/#fffc68;
    color: #000;
}

nav {
    background-color: #652D92;
}

.sidenav {
    background-color: #652D92;
}

.sidenav li > a {
    color: #FFF;
}

#sidenav-close-icon {
    margin: 0px;
    color: #FFF;
}

.brand-logo {
    height: 56px;
}

.brand-image {
    height: 56px;
    float: left;
}

.home-image {
    height: 75vh;

    background: url('../img/sprinkles.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-panel {
    background: rgb(101, 45, 146);
    background: rgba(101, 45, 146, 0.9);
    margin: 0px;
    padding: 1rem;
}

.btn-container {
    text-align: center;
}

.home-btn {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    background-color: /*#03B1CC*//*#E93996*/#d52583;
}

.home-btn:hover {
    background-color: /*#17c5e0*//*#fd4dab*/#e93997;
}

.card-panel .row {
    margin-bottom: 0px;
}

.card-panel p {
    color: #FFF;
    text-align: justify;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.select-wrapper input.select-dropdown {
    border-bottom-color: #000;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom-color: #000;
}

.dropdown-content.select-dropdown {
    background-color: #d52583;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #FFF;
}

.apply-btn {
    background-color: #037eae;
}

.apply-btn:hover {
    background-color: #03a3ae;
}

.input-field label {
    color: #000;
}

.input-field input[type=text]:not(.browser-default) + label,
.input-field input[type=number]:not(.browser-default) + label {
    color: #000;
}

.input-field input[type=text]:not(.browser-default):focus + label,
.input-field input[type=number]:not(.browser-default):focus + label  {
    color: #000;
}

.input-field input[type=text]:focus + label,
.input-field input[type=number]:focus + label {
    color: #000;
}

.input-field input[type=text]:not(.browser-default),
.input-field input[type=number]:not(.browser-default) {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text]:not(.browser-default):focus,
.input-field input[type=number]:not(.browser-default):focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text]:focus,
.input-field input[type=number]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field .prefix.active {
    color: #000;
}

.divider {
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
}

.outer-div {
    width: 100%;
    background-color: #c9c9c9;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.inner-div {
    text-align: right;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    color: white;
    background-color: /*#E93996*/#d52583;
    transition: background-color .3s;
    font-size: 16px;
}

.traffic-light-label {
    display: inline-block;
    font-size: 1rem;
    background-color: #cc3232;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 1px;
    border-radius: 2px;
    color: #FFF;
    text-align: center;
}

/* amber #db7b2b, green #2dc937 */

/* Footer */
.page-footer {
    background-color: /*#03B1CC*/#037eae;
}

.about-paragraph {
    text-align: justify;
}

/* Media Queries */
@media only screen and (min-width: 601px) {
    .brand-image {
        height: 64px;
    }
    .brand-logo {
        height: 64px;
    }
    .home-btn {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .card-panel p {
        margin-block-start: 1em;
        margin-block-end: 1em;
        text-align: center;
    }
}
