{% extends 'base.html' %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row center">
            <h5><i class="material-icons heading-icon">create</i>Edit Catalog</h5>
            <p>Edit the selected food using the form below.</p>
        </div>
        <div class="row">
            <form action="{{ url_for('update_food', food_id = food._id) }}" method="POST" class="col s12">
                <div class="row">
                    <!-- Food Name -->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input id="food_name" name="name" type="text" class="validate" value="{{ food.name }}">
                        <label for="food_name">Food Name</label>
                    </div>                
                
                    <!-- Food Group -->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>
                        <select id="food_group" name="group">
                            <option value="" disabled selected>Choose Food Group</option>
                            {% for food_group in food_groups %}
                            {% if food_group.group == food.group %}
                            <option value="{{ food_group.group }}" selected>{{ food_group.group }}</option>
                            {% else %}
                            <option value="{{ food_group.group }}">{{ food_group.group }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label>Food Group</label>
                    </div>
                
                    <!-- Sugar g per 100g -->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input id="sugar_g_per_100g" name="sugar_g_per_100g" type="number" min="0" max="100" step="0.01"
                            class="validate" value="{{ food.sugar_g_per_100g }}">
                        <label for="sugar_g_per_100g">Sugar g per 100g</label>
                    </div>
                
                    <!-- Sugar g per Serving -->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input id="sugar_g_per_serving" name="sugar_g_per_serving" type="number" min="0" max="100" step="0.01"
                            class="validate" value="{{ food.sugar_g_per_serving }}">
                        <label for="sugar_g_per_serving">Sugar g per Serving</label>
                    </div>
                
                    <!-- Serving Description -->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input id="serving_description" name="serving_description" type="text" class="validate"
                            value="{{ food.serving_description }}">
                        <label for="serving_description">Serving Description</label>
                    </div>
                
                    <!-- Reviewed -->
                    <div class="switch">
                        <label>
                            {% if food.reviewed %}
                            <input id="reviewed" name="reviewed" type="checkbox" checked>
                            {% else %}
                            <input id="reviewed" name="reviewed" type="checkbox">
                            {% endif %}
                            <span class="lever"></span>
                            Reviewed
                        </label>
                    </div>
                </div> <!-- row -->

                <!-- Submit Button -->
                <div class="row center">
                    <button class="btn waves-effect waves-light apply-btn" type="submit" name="action">UPDATE FOOD
                        <i class="material-icons right">playlist_add_check</i>
                    </button>
                </div>
            </form>
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- section -->
{% endblock %}