{% extends 'base.html' %}
{% block content %}
<div class="section home-image">
</div>

<div class="container">
    <div class="row">
        <!-- Dropdown Trigger -->
        <!--<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Sort by</a>-->

        <!-- Dropdown Structure -->
        <!--<ul id='dropdown1' class='dropdown-content'>
                <li><a href="{{ url_for('sort', sort_id = 1) }}">Sugar: High to Low</a></li>
                <li><a href="{{ url_for('sort', sort_id = 2) }}">Sugar: Low to High</a></li>
                <li><a href="{{ url_for('sort', sort_id = 3) }}">A - Z</a></li>
                <li><a href="{{ url_for('sort', sort_id = 4) }}">Z - A</a></li>
            </ul>-->
        <form action="{{ url_for('apply_filters') }}" method="POST" class="col s12">
            <!-- Food, Drink -->
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="category" name="category">
                    <option value="A1" selected>All</option>
                    <option value="B1">Food</option>
                    <!-- must have g for FOods and ml for Drinks -->
                    <option value="C1">Drink</option>
                </select>
                <label>Category</label>
            </div>

            <!-- Sugar Measure -->
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="sugar-measure" name="sugar-measure">
                    <option value="A" selected>Serving</option>
                    <option value="B">100g</option>
                    <!-- must have g for FOods and ml for Drinks -->
                    <option value="C">100ml</option>
                </select>
                <label>Sugar per</label>
            </div>

            <!-- Sort -->
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="sort-by" name="sort-by">
                    <option value="1" selected>Sugar: High to Low</option>
                    <option value="2">Sugar: Low to High</option>
                    <option value="3">A - Z</option>
                    <option value="4">Z - A</option>
                </select>
                <label>Sort</label>
            </div>

            <!-- Apply Button -->
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Apply
                    <i class="material-icons right">fastfood</i>
                </button>
            </div>
        </form>
    </div>


    {% for food in foods %}
    <div class="divider"></div>
    <div class="section">
        <h5>{{ food.food_name }}</h5>
        <p>{{ food.sugar_g_per_100g }}</p>
        <div class="outer-div">
            <div class="inner-div" style="width:90%;">
                65%
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}