{% extends 'base.html' %}
{% block content %}
<div class="section home-image valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <p>
                        A healthy diet means limiting our intake of added sugar.
                    </p>
                    <p>
                        <strong>The Sugar Catalog</strong> is your reference to identify high sugar foods and their low sugar alternatives.
                    </p>
                    <p>
                        If your favourite food is missing from the catalog, please consider adding it.
                    </p>
                    <p>
                        Want to test your knowledge of added sugar? Then take our survey!
                    </p>
                    <div class="row">
                        <div class="col s12 m4 btn-container">
                            <a class="waves-effect waves-light btn home-btn" href="{{ url_for('search_catalog') }}">Search Catalog</a>
                        </div>
                        <div class="col s12 m4 btn-container">
                            <a class="waves-effect waves-light btn home-btn" href="{{ url_for('add_to_catalog') }}">Add to Catalog</a>
                        </div>
                        <div class="col s12 m4 btn-container">
                            <a class="waves-effect waves-light btn home-btn">Take Survey</a>
                        </div>
                    </div>
                </div> <!-- card -->
            </div> <!-- col -->
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- section -->

<div class="section">
    <div class="container">
        <div class="row center">
            <h5>Search Catalog</h5>
        </div>
        <div class="row">
            <form action="{{ url_for('search_catalog') }}" method="POST" class="col s12">
                <div class="row">
                    <!-- Food, Drink -->
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">poll</i>
                        <select id="food_group_select" name="food_group_select">
                            <option value="All" selected>All</option>
                            {% for food_group in food_groups %}
                            <option value="{{ food_group.group }}">{{ food_group.group }}</option>
                            {% endfor %}
                        </select>
                        <label>Food Group</label>
                    </div>
        
                    <!-- Sugar Measure -->
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">poll</i>
                        <select id="sugar_measure_select" name="sugar_measure_select">
                            <option value="serving" selected>Sugar per Serving</option>
                            <option value="100g">Sugar per 100g</option>
                        </select>
                        <label>Sugar Measure</label>
                    </div>
        
                    <!-- Sort -->
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">poll</i>
                        <select id="sort_by_select" name="sort_by_select">
                            <option value="H-L" selected>Sugar: High to Low</option>
                            <option value="L-H">Sugar: Low to High</option>
                            <option value="A-Z">A - Z</option>
                            <option value="Z-A">Z - A</option>
                        </select>
                        <label>Sort By</label>
                    </div>
                </div> <!-- row -->
        
                <!-- Apply Button -->
                <div class="row center">
                    <button class="btn waves-effect waves-light apply-btn" type="submit" name="action">Apply
                        <i class="material-icons right">fastfood</i>
                    </button>
                </div>
            </form>
        </div> <!-- row -->

        <div class="divider"></div>
        {% for food in foods %}
        <div class="row">
            <h5>
                <div class="traffic-light-label">Medium</div> <!-- colour needs to be made dynamic -->
                {{ food.name }}
            </h5>
            <p>{{ food.sugar_g_per_100g }}g sugar per 100g</p> <!-- has to be made dynamic -->
            <div class="outer-div">
                <div class="inner-div" style="width:90%;"> <!-- % has to made dynamic -->
                    {{ food.sugar_g_per_100g }}g <!-- has to be made dependent on sugar measure -->
                </div>
            </div>
        </div>
        {% endfor %}

    </div> <!-- container -->
</div> <!-- section -->
{% endblock %}