{% extends 'base.html' %}
{% block content %}
<div class="section home-image valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <p>
                        A healthy diet means limiting our intake of added sugar.
                    </p>
                    <p>
                        <strong>The Sugar Catalog</strong> is your reference to identify high sugar foods and their low sugar alternatives.
                    </p>
                    <p>
                        If your favourite food or drink is missing from the catalog, please consider adding it.
                    </p>
                    <p>
                        Want to test your knowledge of added sugar? Then take our survey!
                    </p>
                    <div class="row">
                        <div class="col s12 m4 btn-container">
                            <a class="waves-effect waves-light btn home-btn">Search Catalog</a>
                        </div>
                        <div class="col s12 m4 btn-container">
                            <a class="waves-effect waves-light btn home-btn">Add to Catalog</a>
                        </div>
                        <div class="col s12 m4 btn-container">
                            <a class="waves-effect waves-light btn home-btn">Take Survey</a>
                        </div>
                    </div>
                </div> <!-- card -->
            </div> <!-- col -->
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- section -->

<div class="section">
    <div class="container">
        <div class="row center">
            <h5>Search Catalog</h5>
        </div>
        <div class="row">
            <form action="{{ url_for('apply_filters') }}" method="POST" class="col s12">
        
                <!-- Need a wildcard search as well -->
                <div class="row">
                    <!-- Food, Drink -->
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">poll</i>
                        <select id="category" name="category">
                            <option value="B1" selected>Food</option>
                            <!-- must have g for Foods and ml for Drinks -->
                            <option value="C1">Drink</option>
                        </select>
                        <label>Category</label>
                    </div>
        
                    <!-- Sugar Measure -->
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">poll</i>
                        <select id="sugar-measure" name="sugar-measure">
                            <option value="A" selected>Sugar per Serving</option>
                            <option value="B">Sugar per 100g</option>
                            <!-- must have g for Foods and ml for Drinks -->
                            <option value="C">Sugar per 100ml</option>
                        </select>
                        <label>Sugar Measure</label>
                    </div>
        
                    <!-- Sort -->
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">poll</i>
                        <select id="sort-by" name="sort-by">
                            <option value="1" selected>Sugar: High to Low</option>
                            <option value="2">Sugar: Low to High</option>
                            <option value="3">A - Z</option>
                            <option value="4">Z - A</option>
                        </select>
                        <label>Sort By</label>
                    </div>
                </div> <!-- row -->
        
                <!-- Apply Button -->
                <div class="row center">
                    <button class="btn waves-effect waves-light apply-btn" type="submit" name="action">Apply
                        <i class="material-icons right">fastfood</i>
                    </button>
                </div>
            </form>
        </div> <!-- row -->

        <div class="divider"></div>
        {% for food in foods %}
        <div class="row">
            <h5>
                <div class="traffic-light-label">Medium</div> <!-- colour needs to be made dynamic -->
                {{ food.food_name }}
            </h5>
            <p>{{ food.sugar_g_per_100g }}g sugar per 100g</p> <!-- has to be made dynamic -->
            <div class="outer-div">
                <div class="inner-div" style="width:90%;"> <!-- % has to made dynamic -->
                    {{ food.sugar_g_per_100g }}g <!-- has to be made dependent on sugar measure -->
                </div>
            </div>
        </div>
        {% endfor %}

    </div> <!-- container -->
</div> <!-- section -->
{% endblock %}